.creative-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  background: var(--color-guide-community-0-e-1428, #070a15);
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 5rem;
}
.creative-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40vw;
  gap:1em;
  height: 100vh;
}
.creative-text-container {
  display: flex;
  width: 40vw;
  height: auto;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 0 0 0 1rem;
}
.creative-headings {
  color: var(--color-guide-common-white, #fff);
  font-family: Open Sans;
  font-size: 65px;
  font-style: normal;
  font-weight: 800;
}
.creative-headings .creative-heading-col {
  color: #7b9e89;
  font-family: Open Sans;
  font-size: 75px;
  font-style: normal;
  font-weight: 800;
  line-height: 98.682%;
}
.creative-para {
  width: 40vw;
  color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  font-weight: 400;
}

.creative-cards-container {
  display: flex;
  width: 40vw;
  height: auto;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
  padding:20px;
  /* overflow: hidden; */
}
.creative-cards {
  display: flex;
  align-self: stretch;
  border-radius: 5px;
  border: 2px solid var(--color-guide-secondary-50, #b0a2db);
  width: 35vw;
  padding: 20px;
  align-items: center;
  gap: 10px;
}
.creative-cards span {
  color: #fff;
  font-family: Open Sans;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.creative-card1 {
  /* transform: rotate(1deg); */
}
.creative-card2 {
  /* transform: rotate(-1deg); */
}

.creative-image-container {
  width: 40vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.creative-image-container img {
  width: 35vw;
  height: 75vh;
  border-radius: 10px;
}

@media screen and (max-width: 1367px) {
  .creative-container {
    gap: 3rem;
  }

  .creative-headings {
    font-size: 55px;
  }
  .creative-headings .creative-heading-col {
    font-size: 55px;
  }
  .creative-para {
    font-size: 1rem;
  }

  .creative-cards-container {
    gap: 10px;
  }
  .creative-cards {
    
    padding: 12px;
    
  }
  .creative-cards span {
    font-size: 1rem;
  }
  .creative-image-container img {
    height: 70vh;
  }
  .creative-image-container img {
    width: 35vw;
    height: 40vw;
    border-radius: 10px;
  }
}

@media screen and (max-width: 850px) {
  .creative-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    background: var(--color-guide-community-0-e-1428, #070a15);
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    gap: 0rem;
  }
  .tilt{
    pointer-events: none;
  }
  .creative-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    gap:1rem;
    height: auto;
  }
  .creative-text-container {
    display: flex;
    width: 100vw;
    height: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 ;
  }
  .creative-headings {
    font-size: 55px;
  }
  .creative-headings .creative-heading-col {
    color: #7b9e89;
    font-family: Open Sans;
    font-size: 55px;
    font-style: normal;
    font-weight: 800;
    line-height: 98.682%;
  }
  .creative-para {
    width: 80vw;
    color: rgba(255, 255, 255, 0.8);
    font-size: 1.2rem;
    font-weight: 400;
  }
  
  .creative-cards-container {
    display: flex;
    width: 90vw;
    height: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 10px 0 10px 0;
    /* overflow: hidden; */
  }
  .creative-cards {
    display: flex;
    width: auto;
    /* padding: 15px; */
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10px;
  }
  .creative-cards span {
    color: #fff;
    font-family: Open Sans;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
.creative-right{
  height: auto;
}
  .creative-image-container {
    width: 90vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
  }
  .creative-image-container img {
    width: 50vw;
    height: 50vw;
    border-radius: 10px;
  }
}
@media screen and (min-width:500px) and (max-width: 850px) and (max-height:917px) {
  .creative-container {
   
    gap: 0rem;
  }
  .creative-left {
    
    gap:1rem;
  }
  
  .creative-headings {
    font-size: 30px;
  }
  .creative-headings .creative-heading-col {
    color: #7b9e89;
    font-family: Open Sans;
    font-size: 30px;
    font-style: normal;
    font-weight: 800;
    line-height: 98.682%;
  }
  .creative-para {
    width: 80vw;
    color: rgba(255, 255, 255, 0.8);
    font-size: 16px;
    font-weight: 400;
  }
  
  .creative-cards-container {
    display: flex;
    width: 90vw;
    height: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 8px 0 8px 0;
    /* overflow: hidden; */
  }
  .creative-cards {
    display: flex;
    width: auto;
    /* padding: 15px; */
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10px;
  }
  .creative-cards span {
    color: #fff;
    font-family: Open Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  .creative-image-container {
    width: 90vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
  }
  .creative-image-container img {
    width: 30vw;
    height: 30vw;
    border-radius: 10px;
  }
}

@media screen and (max-width: 400px) and (max-height:705px) {
  .creative-headings{
    font-size: 30px;
  }
  .creative-headings .creative-heading-col{
    font-size:30px;
  }
}

@media screen and (max-width:450px){
  .creative-container {
    width: 100vw;
    height: auto;
    display: flex;
    background: var(--color-guide-community-0-e-1428, #070a15);
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    gap: 0rem;
    padding:25px 0 20px 0;
  }
  .creative-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    gap:0.5rem;
    height: auto;
  }
  .creative-text-container {
    display: flex;
    width: 100vw;
    height: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 ;
  }
  .creative-headings {
    font-size: 50px;
  }
  .creative-headings .creative-heading-col {
    color: #7b9e89;
    font-family: Open Sans;
    font-size: 50px;
    font-style: normal;
    font-weight: 800;
    line-height: 98.682%;
  }
  .creative-para {
    width: 80vw;
    color: rgba(255, 255, 255, 0.8);
    font-size: 1.2rem;
    font-weight: 400;
  }
  
  .creative-cards-container {
    display: flex;
    width: 90vw;
    height: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 10px 0 10px 0;
    /* overflow: hidden; */
  }
  .creative-cards {
    display: flex;
    width: auto;
    /* padding: 15px; */
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10px;
  }
  .creative-cards span {
    color: #fff;
    font-family: Open Sans;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  .creative-image-container {
    width: 90vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
  }
  .creative-image-container img {
    width: 50vw;
    height: 50vw;
    border-radius: 10px;
  }
}