.footer-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  background: var(--color-guide-community-0-e-1428, #070a15);
  justify-content: center;
  align-items: self-end;
  flex-wrap: wrap;
  gap: 2rem;
  /* border : 1px solid red; */
}

.footer-headings {
  width: 75vw;
  height: auto;
  display: flex;
  align-items: center;
  color: #fff;
  text-align: center;
  font-family: Open Sans;
  gap:0px;
  font-size: 75px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  /* margin: 0 0 5rem 0; */
  align-content: center;
  flex-direction: column;
  justify-content: center;
}
.footer-links {
  width: 80vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* margin-top:2rem; */
}
.footer-links-cols {
  width: 15vw;
  color: #fff;
  font-family: Open Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer-line {
  width: 90vw;
  height: 2px;
  background: #1a1f32;
}
.footer-copyright {
  color: #fff;
  font-family: Open Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin: 0 0 1rem 0;
}

.footer-links-cols a{
  margin:0;
  cursor: pointer;
}
.footer-whatsapp {

  display: flex;
  padding: 25px 15px;
  width:30vw;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: 2px solid #fff;
  background: linear-gradient(169deg, #1faf38 7.84%, #60d669 91.17%);
  gap:1.5rem;
  margin-top: 40px;
}

.footer-whatsapp span{
  font-size: 24px;
}
.footer-whatsapp svg{
  width:2vw;
  height:2vw;
}

@media screen and (max-width: 1367px){
 
  .footer-container{
    height:100vh;
  }
  .footer-headings {
    width: 75vw;
    font-size: 50px;
    height:auto;
  }

  .footer-links-cols {
    width: 15vw;
    color: #fff;
    font-family: Open Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    display: flex;
    text-align: start;
    flex-direction: column;
    gap: 20px;
  }
  .footer-line {
    width: 90vw;
    height: 2px;
    background: #1a1f32;
  }
  .footer-copyright {
    color: #fff;
    font-family: Open Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin: 0 0 1rem 0;
  }
  
  .footer-whatsapp {
    display: flex;
    padding: 15px;
    justify-content: center;
    align-items: center;
    font-size: 8px;
    gap: 10px;
    border-radius: 10px;
    border: 2px solid #fff;
    background: linear-gradient(169deg, #1faf38 7.84%, #60d669 91.17%);
  }
  
}



@media screen and (max-width: 850px) {
  .footer-container {
    padding-top: 2rem;
    width: 100vw;
    height:100vh;
    gap: 2rem;
    align-items: stretch;
  }

  .footer-headings {
    width: 90vw;
    height: auto;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
  }
  .footer-links {
    width: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
  .footer-links-cols {
    width: 80vw;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: flex-start;

    padding: 2px;
  }

  .footer-line {
    width: 90vw;
    height: 2px;
    background: #1a1f32;
  }
  .footer-copyright {
    color: #fff;
    font-family: Open Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    padding: 0 0 0 0;
  }

  .footer-whatsapp {
    display: flex;
    width:60vw;
    padding: 15px;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    gap: 20px;
    border-radius: 10px;
    border: 2px solid #fff;
    background: linear-gradient(169deg, #1faf38 7.84%, #60d669 91.17%);
  }
  .footer-whatsapp svg{
    width:4vw;
    height:4vw;
  }
}
@media screen and (min-width:500px) and (max-width: 850px) and (max-height:917px){
  .footer-container {
    padding-top: 2rem;
    width: 100vw;
    height:100vh;
    gap: 1rem;
    align-items: center;
  }

  .footer-headings {
    width: 90vw;
    height: auto;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
  }
  .footer-links {
    width: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.1rem;
  }
  .footer-links-cols {
    width: 80vw;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: flex-start;

    padding: 2px;
  }

  .footer-line {
    width: 90vw;
    height: 2px;
    background: #1a1f32;
  }
  .footer-copyright {
    color: #fff;
    font-family: Open Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    padding: 0 0 0 0;
  }

  .footer-whatsapp {
    display: flex;
    width:50vw;
    padding: 8px;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    margin-top: 10px;
    gap: 20px;
    border-radius: 10px;
    border: 2px solid #fff;
    background: linear-gradient(169deg, #1faf38 7.84%, #60d669 91.17%);
  }
  .footer-whatsapp span{
    font-size: 14px;
  }
  .footer-whatsapp svg{
    width:4vw;
    height:1.5rem;
  }
}

@media screen and (max-width:450px){
  .footer-container{
    height:auto;
    gap:15px;
  }
  .footer-whatsapp{
    margin:15px 0;;
    gap:10px;
    padding:8px 12px;
  }
  .footer-whatsapp span{
    font-size:15px;
    width:inherit;
  }
  .footer-whatsapp svg{
    height:2.5rem;
    width:2rem;
  }
  .footer-headings{
    font-size: 30px;;
  }
  .footer-links{
    height:auto;
    gap:13px;
  }
}