.home-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  background: var(--color-guide-community-0-e-1428, #070a15);
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  flex-direction: column;
  z-index: 11111111111111111111111111111111111111111111111111111111;
}

@media screen and (max-width: 850px) {
  .home-container {
    height: 100vh;
    justify-content: flex-start;
  }
}
@media screen and (min-width: 500px) and (max-width: 850px) and (max-height: 917px) {
  .home-container {
    height: auto;
    padding-bottom: 10px;
    justify-content: flex-start;
  }
}
@media screen and (max-width: 450px) {
  .home-container {
    height: auto;
    padding-bottom: 10px;
    justify-content: center;
  }
}
