.p-section{
    height:250vh;
    width:100vw;
    position:relative;
}

.p-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    background: var(--color-guide-community-0-e-1428, #070a15);
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 5rem;
    position: sticky;
    top:0;
  }
  .p-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40vw;
    height: 100vh;
  }
  .p-text-container {
    display: flex;
    width: 40vw;
    height: 40vh;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 0 0 0 1rem;
    position:sticky;
  }
  .p-headings {
    color: var(--color-guide-common-white, #fff);
    font-family: Open Sans;
    font-size: 85px;
    font-style: normal;
    font-weight: 800;
    line-height: 98.682%;
  }
  .p-heading-col {
    color: var(--color-guide-community-d-95-d-39, #d95d39);
    font-family: Open Sans;
    font-size: 85px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
  }
  .p-para {
    width: 40vw;
    color: rgba(255, 255, 255, 0.8);
    font-size: 1.5rem;
    font-weight: 400;
  }
 
  .p-cards-container {
    display: flex;
    width: 40vw;
    height: 40vh;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    padding-top: 30px;
    overflow: hidden;
  }
  .p-cards {
    display: flex;
    width: 35vw;
    padding: 15px;
    align-items: center;
    text-align: center;
    gap: 10px;
    border-radius: 10px;
    border: 2px solid rgba(97, 106, 142, 0.5);
  }
  .p-cards span {
    color: #9aa5d4;
    font-family: Open Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  .p-card-selected {
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, 0.1);
    background: #0b1022;
    box-shadow: 0px 5px 80px -20px rgba(97, 106, 142, 0.1);
    /* transform: rotate(1deg); */
  }
  .under {
    border-bottom: 5px solid var(--color-guide-community-f-0-a-202, #f0a202);
    width: 85%;
  }
 
  .p-image-container {
    width: 40vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
  }
  .p-image-container img {
    width: 35vw;
    height: 70vh;
    border-radius: 10px;
  }
  
  @media screen and (max-width: 1367px) {
    .p-container {
      gap: 2rem;
    }
  
    .p-headings {
      font-size: 55px;
    }
    
    .p-para {
      font-size: 1.2rem;
    }
  
    .p-cards-container {
      padding-top: 10px;
      gap: 20px;
    }
  
    .p-cards span {
      font-size: 15px;
  
    }
    .p-image-container img {
      width: 35vw;
      height: 40vw;
      border-radius: 10px;
    }
  }
  
  @media screen and (max-width: 850px) {
    
    .p-container {
      padding-top:10px;
      height: 100vh;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      flex-wrap: nowrap;
      gap:30px;
    }
    .tilt{
      pointer-events: none;
    }
    .p-left {
      width: 90vw;
      height:auto;
      justify-content: center;
      align-items: center;
    }
    .p-text-container {
      display: flex;
      width: 100vw;
      height: auto;
      justify-content: center;
      align-items: center;
      text-align: center;
      margin:0;
    }
    .p-headings {
      font-size: 50px;
    }
  
    .p-para {
      width: 80vw;
      color: rgba(255, 255, 255, 0.8);
      font-size: 18px;
      font-weight: 400;
    }
    
    .p-cards-container {
      display: flex;
      width: 90vw;
      height: auto;
      align-items: center;
      overflow: hidden;
      gap:10px;
    }
    .p-cards {
      width: 80vw;
      padding: 15px;
      align-items: center;
      justify-content: center;
      overflow: hidden;
    }
    .p-cards span {
      font-size: 16px;
    }
  
    .p-image-container {
      width: 70vw;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 10px;
    }
    .p-image-container img {
      width: 60vw;
      height: 60vw;
      border-radius: 10px;
    }
  }
  
  @media screen and (min-width:500px) and (max-width: 850px) and (max-height:917px) {
    .p-container {
      padding-top:10px;
      height: 100vh;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      flex-wrap: nowrap;
      gap:10px;
    }
    .tilt{
      pointer-events: none;
    }
    .p-left {
      width: 90vw;
      height:auto;
      justify-content: center;
      align-items: center;
    }
    .p-text-container {
      display: flex;
      width: 100vw;
      height: auto;
      justify-content: center;
      align-items: center;
      text-align: center;
      margin:0;
    }
    .p-headings {
      font-size: 25px;
    }
  
    .p-para {
      width: 80vw;
      color: rgba(255, 255, 255, 0.8);
      font-size: 12px;
      font-weight: 400;
    }
    
    .p-cards-container {
      display: flex;
      width: 90vw;
      height: auto;
      align-items: center;
      overflow: hidden;
      gap:10px;
    }
    .p-cards {
      width: 70vw;
      padding: 8px;
      align-items: center;
      justify-content: center;
      overflow: hidden;
    }
    .p-cards span {
      font-size: 16px;
    }
  
    .p-image-container {
      width: 70vw;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 10px;
    }
    .p-image-container img {
      width: 30vw;
      height: 32vw;
      border-radius: 10px;
    }
  }
  

  @media screen and (max-width: 400px) and (max-height:705px) {
    .p-container {
      width: 100vw;
      height:100vh;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center;
      gap:0rem;
      padding : 0 0 0 0;
    }
    .tilt{
      
      pointer-events: none;
    }
    .p-left {
      width:100vw;
      justify-content: center;
      align-items: center;
      height:auto;
    }
    .p-text-container {
      display: flex;
      width: 100vw;
      height:auto;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin:0;
    }
    .p-headings {
      font-size: 40px;
      text-align: center;
      line-height: 98%;
    }
    .heading-col {
      font-size: 40px;
      text-align: center;
      line-height: normal;
      
    }
    .p-para {
      font-size: 15px;
      width:80vw;
    }
    
    .p-cards-container {
      width: 85vw;
      height:auto;
      gap: 5px;
      padding-top:0;
      justify-content: center;
      align-items: center;
    }
    .p-cards {
      width: 100%;
      padding: 12px;
      justify-content: center;
      align-items: center;
    }
    .p-right{
      margin:0;
    }
    .tilt img{
      display: none;
    }
    .p-image-container {
      width: 100vw;
      height:auto;
      display:flex;
      justify-content: center;
      align-items: center;
      border-radius: 10px;
      margin:20px 0 10px 0;
    }
    .p-image-container img {
      width: 45vw;
      height: 45vw;
      border-radius: 10px;
    }
  } 

  @media screen and (max-height : 650px){
    .p-headings{
      font-size:45px;
    }
  }
  

  @media screen and (max-width:450px){
    .p-container{
      gap:15px;
    }
  }